@model IEnumerable<SmartRoom.Web.App_Start.Course>

<table>
    <tr>
        @foreach (var item in Model)
        {
        <td>
            @Html.ActionLink(Html.DisplayFor(modelItem => item.Subject).ToString() + Html.DisplayFor(modelItem => item.CourseNumber).ToString(), "Details", "Courses", new { Area = "Classroom", id = item.Id }, null)
        </td>
        }
    </tr>
</table>