@model IEnumerable<SmartRoom.Web.App_Start.UserRelationship>

<div class="no-decorations">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details", "Courses", new { Area = "Classroom", id = item.Course.Id})" , title='@item.Course.Title'>
            <div class="course-menu">@HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.Course.Subject) + "" + Html.DisplayFor(modelItem => item.Course.CourseNumber) + " - " + Html.DisplayFor(modelItem => item.Course.Section))</div>
        </a>
    }
    <a href="@Url.Action("Index", "Home", new { Area = "" })">
        <div class="course-menu">Back to Course List</div>
    </a>
</div>
