body {
    padding-top: 50px;
    padding-bottom: 20px;
    height:100%
}
html{
    height:100%
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
    box-shadow: 0 0 8px 8px #9ec0c8;
    background-color: #d5e6ea;
    margin-left:15%;
    margin-bottom:15%;
    margin-right:15%;
    min-height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;   
}

.index-course {
    height: 300px;
    width: 150px;
    float: left;
    border: 2px solid #666666;
    background-color: white;
    padding: 3px;
    margin: 5px;
    text-align: center;

}

/* Styles go here */

.as-sortable-item,
.as-sortable-placeholder {
    width: 124px;
    margin: 2px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    list-style: none;
}

.as-sortable-placeholder {
    border: 1px dotted #0000ff !important;
}


#sortable-container {
    display: inline-block;

}

.column {
    border: 1px solid #000000;
    border-radius: 5px;
}
.ui-sortable-helper{
    opacity:0.5;
}
#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

    #sortable li {
        margin: 8px;
        padding: 1px;
        float: left;
        width: 22%;
        height: 25%;
        min-height: 10%;
        font-size: 16px;
        text-align: center;
        border-style: solid;
        border-width: 3px;
    box-shadow: 0 0 4px 4px #afc9cf;
    }
    #sortable hr
    {
        margin-top:0px;
        margin-bottom:10px;
    }

.form-horizontal {

        text-align: left;
        border-style: solid;
        background-color: #fff;
        background-image: none;
        border: 5px solid #8ce4fa;
        border-radius: 10px;
        padding:15px;
        width:50%;
        margin-left:auto;
        margin-right:auto;
}
@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
        width:25%;
    }
}
@media (min-width: 992px) {
    .col-md-10 {
        width:75%;
        text-align:right;
    }
}
.col-md-10 input{
    width:75%
        text-align: center;

}
/* Youtube Styles */

.datetimepicker {
    max-width: 210px;
}

.navbar-inverse {
    background-color: #3cb3cf;
}

    .navbar-inverse .navbar-nav li a {
        color: #8ce4fa;
        font-size: 16px;
    }

    .navbar-inverse .navbar-text {
        font-size: 16px;
        color: #8ce4fa;
    }
    
a.navbar-brand {
    background: url("images/Logo.png") no-repeat top left;
    display: block;
    background-size: 200px;
    width: 200px;
    text-indent: -9999px; /* hides the link text */
}

.class-container{
    background-color:white;
    border-radius:10px;
    border-color: #8ce4fa;
    border-style: solid;
    border-width: 15px;
    color:#8ce4fa;
}

.container{
    width:90%;
    margin-left:5%;
    margin-right:5%;
}

.col-md-10 .btn-default{
    width:auto;
}

.class-container .glyphicon{
    font-size:200%;
    color:#8ce4fa;
}
.class-container a{
    text-decoration:none;
    color:#8ce4fa;
    font-weight:700;
}