body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {

  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;   

}

.index-course {
    height: 300px;
    width: 150px;
    float: left;
    border: 2px solid #666666;
    background-color: white;
    padding: 3px;
    margin: 5px;
    text-align: center;

}

/* Styles go here */

.as-sortable-item,
.as-sortable-placeholder {
    width: 124px;
    margin: 2px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    list-style: none;
}

.as-sortable-placeholder {
    border: 1px dotted #0000ff !important;
}

#sortable-container {
    display: inline-block;

}

.column {
    border: 1px solid #000000;
    border-radius: 5px;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

}

    #sortable li {
        margin: 3px 3px 3px 0;
        padding: 1px;
        float: left;
        width: 20%;
        min-width:15%;
        height: 20%;
        min-height:15%;
        font-size: 16px;
        text-align: center;
        border-style: solid;
        background-color: #fff;
        background-image: none;
        border: 5px solid #1F6474;
        border-radius: 4px;  
    }

.form-horizontal {

        text-align: center;
        border-style: solid;
        background-color: #fff;
        background-image: none;
        border: 5px solid #1F6474;
        border-radius: 4px;

}

/* Youtube Styles */

.datetimepicker {
    
    max-width: 210px;
    

}

